$color-primary-white: #ffff;
$color-second-white: #fefefe;
$color-third-white: #fffcfc;
$color-light-white: #e9f0fd;
$color-dark-grey: #323232;
$color-light-grey: #555252;
$color-title: #515151;
$color-cost: #8c8c8c;
$color-accent: #1abc9c;
$color-second-accent: #7fd9c7;
$color-accent-button: #4ec6ab;
$color-accent-hover: #7cf0d9;
$color-primary-black: #212121;
$font-stack-title: 'Roboto';
$font-stack-text: 'Open Sans';
$timing-fn: cubic-bezier(0.4, 0, 0.2, 1);
$animation-time: 250ms;
$timin-fn: cubic-bezier(0.4, 0, 0.2, 1);
