.active-menu__icons {
  display: inline-block;
  width: 20px;
  height: 20px;
  fill: $color-second-white;
}

.active-menu {
  display: flex;
  padding-top: 17px;
  padding-bottom: 11px;
}

.active-menu__list {
  display: flex;
  margin: 0;
}

.active-menu__tel {
  padding-right: 15px;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 11px;
  color: $color-second-white;

  &:hover,
  &:focus {
    color: $color-title;
  }
}

.active-menu__mail {
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 11px;
  color: $color-second-white;

  &:hover,
  &:focus {
    color: $color-title;
  }
}

.info-menu {
  display: flex;
  margin-left: auto;
  text-decoration: none;
}

.info-menu__link {
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  line-height: 11px;
  color: $color-second-white;
  font-family: $font-stack-text;
  font-weight: 300;

  &:hover,
  &:focus {
    color: $color-title;
  }
}
