.card__overlay {
  position: relative;
  overflow: hidden;
}
.card__overlay::before {
  position: absolute;
  width: 230px;
  height: 278px;
  content: '';
  top: 5%;
  left: 5%;
  background-color: rgba(0, 0, 0, 0.3);
  transform: translateY(120%);
  transition: transform;
  transition-duration: $animation-time;
  transition-timing-function: $timin-fn;
}
.card__item:hover .card__overlay::before {
  transform: translateY(0);
}
.card {
  padding-top: 93px;
  padding-bottom: 92px;
  background-color: $color-light-white;
  text-align: center;
  font-family: $font-stack-title;
}
